/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
@layer base {
  :root {
    /* radius */
    --border-radius-xs: 0.25rem;
    --border-radius-sm: 0.375rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 0.75rem;
    --border-radius-xl: 1rem;
    --border-radius-2xl: 1.5rem;
    --border-radius-2xl: 2rem;
    --border-radius-3xl: 2.5rem;
    --border-radius-4xl: 3.125rem;
    /* font size */
    --font-size-2xs: 0.5rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 2rem;
    /* font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    /* z-index */
    --zindex-toast: 5;
    --zindex-modal-box: 4;
    --zindex-modal-overlay: 3;
    --zindex-header: 2;
    /* full screen */
    --full-screen-height: 100dvh;
    --full-screen-width: 100dvw;
    /* global colors */
    --color-success: #00ab50;
    --color-info: #216fd9;
    --color-warning: #ffc043;
    --color-danger: #f23218;
    &[data-theme="light"] {
      --color-primary: #28c4cc;
      --color-secondary: #690099;
      --color-text-selection: #fff;
      --color-bg-scrollbar: #757779;
      --color-bg-btn-actived: #eafafb;
      --color-bg-btn-disabled: #dfe1e3;
      --color-fg-btn-actived: #209ca2;
      --color-fg-btn-disabled: #fff;
      --color-bg-1: #f5f6f8;
      --color-bg-2: #fff;
      --color-text-1: #191c1e;
      --color-text-2: #757779;
      --color-border-1: #444749;
      --color-border-2: #2f3132;
      --color-icon-1: #191c1e;
      --color-icon-2: #5c5f61;
      --color-icon-3: #8f9193;
    }
    &[data-theme="dark"] {
      --color-primary: #4cd5dc;
      --color-secondary: #bb33ff;
      --color-text-selection: #114455;
      --color-bg-scrollbar: #a9abad;
      --color-bg-btn-actived: #0a2533;
      --color-bg-btn-disabled: #444749;
      --color-fg-btn-actived: #77dfe4;
      --color-fg-btn-disabled: #fff;
      --color-bg-1: #040810;
      --color-bg-2: #1c2028;
      --color-text-1: #dce0e8;
      --color-text-2: #a9abad;
      --color-border-1: #ebedef;
      --color-border-2: #dfe1e3;
      --color-icon-1: #dce0e8;
      --color-icon-2: #c5c7c9;
      --color-icon-3: #8f9193;
    }
  }
}

/* fix footer to bottom */
.simplebar-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 0.5px);
}
main {
  flex: 1;
}

/* disable background blue after click */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* scroll smoosh */
html {
  scroll-behavior: smooth !important;
}

/* selection text customize */
::selection {
  background-color: var(--color-primary);
  color: var(--color-text-selection);
}

/* scrollbar customize */
.simplebar-scrollbar::before {
  background: var(--color-bg-scrollbar) !important;
  width: 4px;
}

/* body base styles */
body {
  font-size: var(--font-size-sm);
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  font-weight: var(--font-weight-normal);
  height: var(--full-screen-height);
  width: var(--full-screen-width);
}
