// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// variables
@layer base {
  :root {
    // border radius
    --first-radius: 4px;
    --second-radius: 6px;
    --third-radius: 8px;
    --forth-radius: 12px;
    --fifth-radius: 16px;
    --sixth-radius: 24px;
    --seven-radius: 32px;
    --eight-radius: 40px;
    --nine-radius: 50px;
    // font
    --damn-font: 8px;
    --tiny-font: 11px;
    --small-font: 12px;
    --regular-font: 13px;
    --title-font: 14px;
    --large-font: 16px;
    --big-font: 18px;
    --huge-font: 20px;
    --giant-font: 24px;
    --whacking-font: 32px;
    // line height
    --first-line-height: 23px;
    --second-line-height: 28px;
    --third-line-height: 56px;
    --forth-line-height: 32px;
    // z-index
    --toast-z-index: 4;
    --modal-z-index: 3;
    --header-z-index: 2;
    // transition
    --transition-time: 350ms;
    --transition-method: cubic-bezier(0.8, -0.3, 0.2, 1.3);
    --first-transition: var(--transition-method) var(--transition-time);

    &[data-theme="light"] {
      // border color
      --first-border-color: #dfe1e3;
      --second-border-color: #ebedef;
      --third-border-color: #a1e9ed;
      --forth-border-color: #2f3132;
      // icon color
      --first-icon-color: #5c5f61;
      --second-icon-color: #8f9193;
      --third-icon-color: #a9abad;
      --forth-icon-color: #c5c7c9;
      --fifth-icon-color: #ccf3f5;
      --sixth-icon-color: #f6e5ff;
      // background color
      --first-background-color: #fff;
      --second-background-color: #f5f6f8;
      --third-background-color: #f5f7f9;
      --forth-background-color: #eafafb;
      --fifth-background-color: #f6e5ff;
      --blur-background-color: #ffffff80;
      --header-background-color: #fffc;
      --disable-bg-color: #e4e4e4;
      // base color
      --first-color: #28c4cc;
      --second-color: #690099;
      --third-color: #209ca2;
      --forth-color: #176e77;
      --fifth-color: #609;
      --sixth-color: #d9f;
      --seventh-color: #ecf;
      --success-color: #00ab50;
      --info-color: #216fd9;
      --warning-color: #ffc043;
      --danger-color: #f23218;
      // text color
      --first-text-color: #191c1e;
      --second-text-color: #757779;
      --third-text-color: #44506b;
      --forth-text-color: #444749;
      --disable-text-color: #c4c4c4;
      // toast background and color
      --toast-success-bg: #e5fff1;
      --toast-success-text: var(--success-color);
      --toast-info-bg: #e9f1fc;
      --toast-info-text: var(--info-color);
      --toast-warning-bg: #fff6e5;
      --toast-warning-text: var(--warning-color);
      --toast-fail-bg: #ffe8e5;
      --toast-fail-text: var(--danger-color);
      // shadow
      --first-shadow: 0 4px 24px -4px #2323280f;
      --second-shadow: 0 3px 11px var(--first-color);
      --third-shadow: 0 4px 16px -3px #0000000f;
      --forth-shadow: 3px 3px 20px #1e1e1e40;
    }

    &[data-theme="dark"] {
      // border color
      --first-border-color: #444749;
      --second-border-color: #2f3132;
      --third-border-color: #176e77;
      --forth-border-color: #ebedef;
      // icon color
      --first-icon-color: #c5c7c9;
      --second-icon-color: #8f9193;
      --third-icon-color: #757779;
      --forth-icon-color: #5c5f61;
      --fifth-icon-color: #176e77;
      --sixth-icon-color: #220033;
      // base color
      --first-color: #4cd5dc;
      --second-color: #bb33ff;
      --third-color: #77dfe4;
      --forth-color: #176e77;
      --fifth-color: #609;
      --sixth-color: #660099;
      --seventh-color: #440066;
      --success-color: #00ab50;
      --info-color: #216fd9;
      --warning-color: #ffc043;
      --danger-color: #f23218;
      // text color
      --first-text-color: #dce0e8;
      --second-text-color: #a9abad;
      --third-text-color: #44506b;
      --forth-text-color: #dfe1e3;
      --disable-text-color: #c4c4c4;
      // background color
      --first-background-color: #1c2028;
      --second-background-color: #040810;
      --third-background-color: #191c1e;
      --forth-background-color: #0a2533;
      --fifth-background-color: #220033;
      --header-background-color: rgba(28, 32, 40, 0.8);
      --blur-background-color: rgba(28, 32, 40, 0.5);
      --disable-bg-color: #e4e4e4;
      // toast background and color
      --toast-success-bg: #001f0e;
      --toast-info-bg: #051223;
      --toast-warning-bg: #1f1400;
      --toast-fail-bg: #1f0300;
      --toast-success-text: var(--success-color);
      --toast-info-text: var(--info-color);
      --toast-warning-text: var(--warning-color);
      --toast-fail-text: var(--danger-color);
      // shadow
      --first-shadow: 0 4px 24px -4px #2323280f;
      --second-shadow: 0 3px 11px var(--first-color);
      --third-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.2);
      --forth-shadow: 3px 3px 20px #1e1e1e40;
    }
  }
}

// css resets
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
  box-sizing: border-box;
}
::placeholder {
  color: unset;
}
::marker {
  content: initial;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

// for hide scrollbar
.disable-scroll_scrollbar-is-visible {
  overflow-y: hidden;
  padding-right: 5px;
  @media (min-width: 1024px) {
    padding-right: 7px;
  }
}
.disable-scroll_scrollbar-is-not-visible {
  overflow-y: hidden;
}

// fix footer to bottom
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

// disable background blue after click
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// scroll smoosh
html {
  scroll-behavior: smooth !important;
}

// custom scrollbar
.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #adadad;
  }
}

// body base styles
body {
  direction: rtl;
  font-weight: 400;
  font-family: var(--font-iransansx);
  background-color: var(--fifth-background-color);
  overflow-x: hidden;
  color: #000;
}
